.z-row:hover>.z-row-inner {
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}

.label {
	color: black;
	font-size: 16px;
}
.truncated {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 250px; 
	display: inline-block;
}
.grid-section tr:hover  {
   background-color: none;
}

.admin-section {
	border: 2px solid black;
	margin: 6px 20px 20px 20px;
	padding: 30px;
}

.box {
	padding-bottom: 13px;
}

input[type="checkbox"] {
    margin: 0px 0px 5px!important;
    line-height: normal;
}

.admin-label {
	font-size: 16px !important; 
	color: #d3870f; 
	font-weight: bold;
	padding-left: 54px;
}

.categorie-section {
	border: 2px solid black;
	margin: 9px 20px 20px 20px;
	padding: 20px 12px;
}

.z-grid-odd>.z-row-inner, .z-grid-odd>.z-cell {
	background: none;
}

.categories {
	font-size: 16px !important; 
	color: #d3870f; 
	font-weight: bold;
	padding-left: 46px;
}

.contact-page {
	padding: 25px 0 0 0;
}

.office-section {
	border: 2px solid black;
	margin: 6px 20px;
	padding: 20px 0;
}

.Office {
	margin: 0px 18px 0px 18px;
}

.Office-label {
	font-size: 16px !important; 
	color: #d3870f; 
	font-weight: bold;
	padding-left: 46px;
}

.savebtn {
	margin: 19px 1px 0px 709px;
	padding: 7px 20px 10px 20px;
}