body {
	font-family: Arial, sans-serif;
	background-color: #f0f4f9;
}

/* Define transition for smooth sliding effect */
.stage1-layout, .stage2-layout {
	transition: transform 0.5s ease-in-out;
}

/* Hide stage2 initially */
.stage2-layout {
	transform: translateX(120%);
}

/* Show stage2 when needed */
.show-stage2 .stage1-layout {
	transform: translateX(-160%);
}

.show-stage2 .stage2-layout {
	transform: translateX(0);
}

.error-box {
	color: red;
	border: 1px solid red;
	background-color: #ffe6e6;
	padding: 10px;
	border-radius: 5px;
	left: 32%;
	top: 121%;
	position: absolute;
}

.left-side {
	border-right: 1px solid #1c1313;
	padding: 78px 0px 88px 0px;
	text-align: center;
}

.form-section {
	padding: 41px 0px 0px 41px;
	text-align: center;
	position: relative;
}

@media ( max-width : 998px) {
	.left-side {
		border-right: none;
	}
	.error-box {
		left: 20%;
		top: 68%;
	}
	.form-section {
		padding: 41px 0px 30px 15px;
		text-align: center;
	}
}